.products-hero {
    position: relative;
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: var(--white);
    background-image: url('https://img.freepik.com/free-photo/adorable-white-cat-sunglasses-shirt-lies-fabric-hammock-ai-generated_268835-10929.jpg?semt=ais_hybrid&w=740&q=80');
    background-color: rgba(0, 0, 0, 0.45);
    background-blend-mode: overlay;
}

.products-hero h1 {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    color: var(--white);
    margin: 0;
}

.products-container {
    width: 90%;
    margin: 3rem auto;
}

@media (min-width: 768px) {
    .products-container {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .products-container {
        width: 60%;
    }
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

.product-image-container {
    height: 65%;
    position: relative;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-to-cart-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(234, 88, 12, 0.8);
    color: var(--white);
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out, background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-to-cart-overlay:hover {
    background-color: var(--primary-orange-hover);
}

.product-image-container:hover .add-to-cart-overlay {
    transform: translateY(0);
}

.add-to-cart-text {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
}

.product-info {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.25rem;
}

.product-title {
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: capitalize;
    transition: color 0.3s ease-out;
    margin: 0;
}

.product-title:hover {
    color: var(--gray-500);
}

.product-category {
    font-size: 0.875rem;
    color: var(--gray-400);
    text-transform: capitalize;
    transition: color 0.3s ease-out;
    margin: 0;
}

.product-category:hover {
    color: var(--gray-700);
}

.product-price {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-orange);
    margin: 0;
}